a:link {
    color: rgb(40, 85, 233);
}

a:hover {
    color: #ff0000;
    position: relative;
    bottom: 3px;
}

body {
    background-color: bisque;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: darkred;
}

.erigei {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: darkred;
}

header {
    background-color: darksalmon;
    margin: -22px;
    padding-right: 20%;
}

table {
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    text-align: center;
    margin: auto;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: darkred;
    background-color: darksalmon;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: darkred;
}

footer {
    font-size: x-small;
    margin-right: 1px;
    text-align: left;
}

.form {
    text-align: center;
    background-color: darksalmon;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;

}

.tablain {
    background-color: darksalmon;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    min-height: 300px;

}

td {
    vertical-align: 5px;
}

figcaption {
    color: darkred;
    font-family: 'Courier New', Courier, monospace;
}

.tablonka {
    background-color: darksalmon;
}

.luna {
    background-color: darksalmon;
    color: darkred;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace
}

.logo{
    float: left;
}